<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dev</key>
	<dict>
		<key>helpUrl</key>
		<string>http://23.21.203.171/mobile/help</string>
		<key>privacyUrl</key>
		<string>http://23.21.203.171/mobile/privacy</string>
		<key>GoogleAnalyticsKey</key>
		<string>UA-30208011-7</string>
		<key>pdthxAPIKEY</key>
		<string>bda11d91-7ade-4da1-855d-24adfe39d174</string>
		<key>pdthxWebServicesBaseUrl</key>
		<string>http://23.21.203.171/api/internal/api</string>
	</dict>
	<key>Beta</key>
	<dict>
		<key>privacyUrl</key>
		<string>http://www.paidthx.com/mobile/privacy</string>
		<key>helpUrl</key>
		<string>http://www.paidthx.com/mobile/help</string>
		<key>GoogleAnalyticsKey</key>
		<string>UA-30208011-8</string>
		<key>pdthxAPIKEY</key>
		<string>bda11d91-7ade-4da1-855d-24adfe39d174</string>
		<key>pdthxWebServicesBaseUrl</key>
		<string>http://www.paidthx.com/api/internal/api</string>
	</dict>
	<key>Notifs</key>
	<dict>
		<key>GoogleAnalyticsKey</key>
		<string>UA-1111</string>
		<key>pdthxAPIKey</key>
		<string>bda11d91-7ade-4da1-855d-24adfe39d174</string>
		<key>pdthxWebServicesBaseUrl</key>
		<string>http://dev.paidthx.com</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>GoogleAnalyticsKey</key>
		<string>UA-30208011-9</string>
		<key>pdthxAPIKey</key>
		<string>bda11d91-7ade-4da1-855d-24adfe39d174</string>
		<key>pdthxWebServicesBaseUrl</key>
		<string>http://api.paidthx.me</string>
	</dict>
	<key>Test</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>pdthxAPIKEY</key>
		<string>bda11d91-7ade-4da1-855d-24adfe39d174</string>
		<key>GoogleAnalyticsKey</key>
		<string>UA-1111</string>
		<key>pdthxWebServicesBaseUrl</key>
		<string>http://23.21.203.171/api/internal/api</string>
	</dict>
	<key>James</key>
	<dict>
		<key>GoogleAnalyticsKey</key>
		<string>UA-111111</string>
		<key>pdthxWebServicesBaseUrl</key>
		<string>http://107.20.137.40/api/internal/api</string>
		<key>pdthxAPIKEY</key>
		<string>bda11d91-7ade-4da1-855d-24adfe39d174</string>
	</dict>
</dict>
</plist>
