<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section 0</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Click here to sync your friends list!</string>
			<key>HighlightedImage</key>
			<string>socialFacebookIcon.png</string>
			<key>Image</key>
			<string>socialFacebookIcon.png</string>
			<key>Label</key>
			<string>Facebook</string>
			<key>AlreadyLinkedDescription</key>
			<string>Click here to unlink</string>
			<key>UserPreferencesKey</key>
			<string>facebookId</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Send to your followers!</string>
			<key>HighlightedImage</key>
			<string>socialTwitterIcon.png</string>
			<key>Image</key>
			<string>socialTwitterIcon.png</string>
			<key>Label</key>
			<string>Twitter</string>
			<key>AlreadyLinkedDescription</key>
			<string>Unlink Twitter Account</string>
			<key>UserPreferencesKey</key>
			<string>twitterId</string>
		</dict>
	</array>
</dict>
</plist>
