<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section 1</key>
	<array>
		<dict>
			<key>Image</key>
			<string>icon-key.png</string>
			<key>Label</key>
			<string>Create $me code</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>icon-key.png</string>
			<key>Label</key>
			<string>Set Security Pin</string>
		</dict>
	</array>
	<key>Section 3</key>
	<array>
		<dict>
			<key>Image</key>
			<string>icon_arrow_right.png</string>
			<key>Label</key>
			<string>About Us</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>icon_right.png</string>
			<key>Label</key>
			<string>Follow Us On Twitter</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>icon_left.png</string>
			<key>Label</key>
			<string>Terms and Conditions</string>
		</dict>
	</array>
</dict>
</plist>
